<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{data.meta.title}}</title>
	<meta property="og:title" content="{{data.meta.title}}">
	<meta name="twitter:title" content="{{data.meta.title}}">

	<meta name="description" content="{{data.meta.description}}">
	<meta property="og:description" content="{{data.meta.description}}">
	<meta name="twitter:description" content="{{data.meta.description}}">

	<meta name="twitter:site" content="{{twitterSite}}">
	<meta name="twitter:card" content="summary"> {{#if data.post}}
	<meta name="keywords" content="{{# each data.post.categories}}{{name}}, {{/each}}{{data.meta.keywords}}"> {{# each data.post.categories}}
	<meta property="article:tag" content="{{name}}"> {{/each}}

	<meta property="og:type" content="article">

	<meta property="og:image" content="{{data.post.image.url}}">
	<meta property="og:url" content="{{data.post.fullPostUrl}}">

	<meta name="twitter:image:src" content="{{data.post.image.url}}">
	<meta name="twitter:url" content="{{data.post.fullPostUrl}}">

	<meta property="article:published_time" content="{{data.post.publishedDate}}"> {{else}}
	<meta name="keywords" content="{{data.meta.keywords}}">

	<meta property="og:image" content="{{baseUrl}}/completeuniversityinfo.png">
	<meta property="og:url" content="{{baseUrl}}/">

	<meta name="twitter:image:src" content="{{baseUrl}}/completeuniversityinfo.png">
	<meta name="twitter:url" content="{{baseUrl}}/"> {{/if}}
	<link rel="manifest" href="/manifest.json">
	<link rel="shortcut icon" href="/images/favicon/icon.ico" type="image/x-icon"> {{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and
	admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //-
	Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/combine/npm/html5shiv@3.7.3,npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
	{{>analytics}}
	<script src="/dist/js/common.bundle.js" async></script>
</head>

<body>
	<header>
		<div class="container">
			<a href="/">
				<img src="/images/completeuniversityinfo_1.png" alt="Complete university Info logo" />
			</a>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark">
			{{!-- fixed-top --}}
			<div class="container">
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#cuiMenu" aria-controls="cuiMenu"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{{!-- https://stackoverflow.com/questions/38994107/drop-down-sub-menus-in-keystonejs --}}
				<div class="navbar-collapse collapse" id="cuiMenu" style="">
					<ul class="navbar-nav mr-auto">
						{{# each navLinks}} 
						{{#if href}}
						<li class="nav-item">
							<a class="nav-link{{#ifeq ../section key}} active{{/ifeq}}" href="{{href }}" title="{{key}}">
								{{ label }} 
								{{#ifeq ../section key}}
								<span class="sr-only">(current)</span>
								{{/ifeq}}
							</a>
						</li>
						{{else}}
						<li class="nav-item dropdown{{#ifeq ../section key}} active{{/ifeq}}">
							<a class="nav-link dropdown-toggle" href="#" id="cuiSubMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ label }}</a>
							<div class="dropdown-menu" aria-labelledby="cuiSubMenu">
								{{#each pages}}
								<a class="dropdown-item{{#ifeq ../subsection subkey}} active{{/ifeq}}" href="{{ href }}">{{ label }}</a>
								 {{/each}}
							</div>
						</li>
						{{/if}} {{/each}}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	{{!-- Flash messages allow you to display once-off status messages to users, e.g. form validation errors, success messages,
	etc --}} {{#if messages}}
	<div id="flash-messages" class="container">
		{{#if messages.info}}
		<div class="alert alert-info">
			{{{flashMessages messages.info}}}
		</div>
		{{/if}} {{#if messages.success}}
		<div class="alert alert-success">
			{{{flashMessages messages.success}}}
		</div>
		{{/if}} {{#if messages.warning}}
		<div class="alert alert-warning">
			{{{flashMessages messages.warning}}}
		</div>
		{{/if}} {{#if messages.error}}
		<div class="alert alert-danger">
			{{{flashMessages messages.error}}}
		</div>
		{{/if}}
	</div>
	{{/if}} {{!-- The content block should contain the body of your template's content --}} {{{body}}}


	<footer>
		<div class="container text-center">

			<div class="ft-links">
				<a href="/aboutus/">About Us</a>
				<a href="/privacy/">Privacy Policy</a>
				<a href="/terms/">Terms of Use</a>
				
			</div>
			<div class="social-links">
					<a title="Like us on Facebook" href="https://www.facebook.com/completeuniversityinfo/" target="_blank" rel="nofollow">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
						<span class="sr-only">Like us on Facebook</span>
					</a>
					<a title="Follow us on Twitter" href="https://twitter.com/@cUniversityInfo" target="_blank" rel="nofollow">
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
						<span class="sr-only">Follow us on Twitter</span>
					</a>
					<a title="Follow us on Instagram" href="https://www.instagram.com/completeuniversityinfo/" target="_blank" rel="nofollow">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<span class="sr-only">Follow us on Instagram</span>
					</a>
					<a title="Like us on Google Plus" href="https://plus.google.com/u/0/111981045973859219763" target="_blank" rel="nofollow">
						<i class="fa fa-google-plus-square" aria-hidden="true"></i>
						<span class="sr-only">Like us on Google Plus</span>
					</a>
				</div>

			<p>&copy; 2017 completeuniversityinfo.com</p>

			<div class="btn-group dropright share-social">
				<span class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-share-alt" aria-hidden="true"></i>
					<span class="sr-only">Share on social media</span>
				</span>
				<div class="dropdown-menu">
					<a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{baseUrl}}{{data.post.pathName}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
						<span class="sr-only">Facebook</span></a>
					<a tittle="Share via Whatsapp" href="whatsapp://send?text=University information at one place!" data-action="share/whatsapp/share">
						<i class="fa fa-whatsapp" aria-hidden="true"></i>
						<span class="sr-only">Whatsapp</span></a>
					<a title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{data.meta.title}}&url={{baseUrl}}{{data.pathName}}"
					 onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
						<span class="sr-only">Twitter</span></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://use.fontawesome.com/bc6d7a31fe.js" async></script> {{!-- {{{isAdminEditorJS user}}} --}}
</body>

</html>