<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#f4bb3a">
	<meta name="msapplication-navbutton-color" content="#f4bb3a">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f4bb3a">
	<title>{{data.meta.title}}</title>
	<meta property="og:title" content="{{data.meta.title}}">
	<meta name="twitter:title" content="{{data.meta.title}}">

	<meta name="description" content="{{data.meta.description}}">
	<meta property="og:description" content="{{data.meta.description}}">
	<meta name="twitter:description" content="{{data.meta.description}}">

	<meta name="twitter:site" content="{{twitterSite}}">
	<meta name="twitter:card" content="summary"> {{!-- if blog article --}} {{#if data.post}}
	<meta name="keywords" content="{{#each data.post.categories}}{{name}}, {{/each}}{{data.meta.keywords}}"> {{#each data.post.categories}}
	<meta property="article:tag" content="{{name}}"> {{/each}}

	<meta property="og:type" content="article">

	<meta property="og:image" content="{{data.post.image.url}}">
	<meta property="og:url" content="{{data.post.fullPostUrl}}">

	<meta name="twitter:image:src" content="{{data.post.image.url}}">
	<meta name="twitter:url" content="{{data.post.fullPostUrl}}">

	<meta property="article:published_time" content="{{data.post.publishedDate}}"> {{else}} {{!-- else on other pages --}}
	<meta property="og:type" content="website">
	<meta name="keywords" content="{{data.meta.keywords}}">

	<meta property="og:image" content="/completeuniversityinfo.jpg">
	<meta property="og:url" content="{{baseUrl}}{{data.pathName}}">

	<meta name="twitter:image:src" content="/completeuniversityinfo.jpg">
	<meta name="twitter:url" content="{{baseUrl}}{{data.pathName}}"> {{/if}}

	<link rel="canonical" href="{{baseUrl}}{{data.pathName}}">
	<link rel="manifest" href="/manifest.json">

	<link rel="shortcut icon" href="/images/favicon/icon.ico" type="image/x-icon"> 
	{{!-- {{>criticalCss}} 
	<link rel="preload" href="/dist/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> --}}
	<link rel="stylesheet" href="/dist/style.css"> 
	{{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and
	admin--}} {{!-- {{{isAdminEditorCSS user}}} --}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
	queries //- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/combine/npm/html5shiv@3.7.3,npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="fb-root"></div>
	<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
		<div class="container">
			<a href="{{baseUrl}}/" class="navbar-brand">
				<img src="/images/completeuniversityinfo.png" alt="Complete university Info logo" />
			</a>
			<button class="navbar-toggler p-0 border-0 collapsed" type="button" data-toggle="collapse" data-target="#cuiMenu" aria-controls="cuiMenu"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="cuiMenu">
				<ul class="navbar-nav ml-auto">

					{{#each navLinks}} {{#if href}}
					<li class="nav-item">
						<a class="nav-link{{#ifeq ../section key}} active{{/ifeq}}" href="{{@root.baseUrl}}{{href }}" title="{{title}}">
							{{ label }} {{#ifeq ../section key}}
							<span class="sr-only">(current)</span>
							{{/ifeq}}
						</a>
					</li>
					{{else}}
					<li class="nav-item dropdown{{#ifeq ../section key}} active{{/ifeq}}">
						<a class="nav-link dropdown-toggle" href="{{@root.baseUrl}}/tests/" id="cuiSubMenu" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">{{ label }}</a>
						<div class="dropdown-menu" aria-labelledby="cuiSubMenu">
							{{#each pages}}
							<a class="dropdown-item{{#ifeq ../subsection subkey}} active{{/ifeq}}" href="{{@root.baseUrl}}{{ href }}" title="{{title}}">{{ label }}</a>
							{{/each}}
						</div>
					</li>
					{{/if}} {{/each}}
				</ul>
			</div>
		</div>
	</nav>

	{{!-- Flash messages allow you to display once-off status messages to users, e.g. form validation errors, success messages,
	etc --}} {{#if messages}}
	<div id="flash-messages" class="container mt-5">
		{{#if messages.info}}
		<div class="alert alert-info">
			{{{flashMessages messages.info}}}
		</div>
		{{/if}} {{#if messages.success}}
		<div class="alert alert-success">
			{{{flashMessages messages.success}}}
		</div>
		{{/if}} {{#if messages.warning}}
		<div class="alert alert-warning">
			{{{flashMessages messages.warning}}}
		</div>
		{{/if}} {{#if messages.error}}
		<div class="alert alert-danger">
			{{{flashMessages messages.error}}}
		</div>
		{{/if}}
	</div>
	{{/if}} {{!-- The content block should contain the body of your template's content --}} {{{body}}}

	<footer>
		<div class="container text-center clearfix">

			<div class="ft-links">
				<a href="{{baseUrl}}/aboutus/">About us</a>
				<a href="{{baseUrl}}/privacy/">Privacy policy</a>
				{{!--
				<a href="{{baseUrl}}/terms/">Terms of Use</a> --}}
			</div>
			<div class="social-links" itemscope itemtype="http://schema.org/Organization">
				<h6>Show us some
					<span>
						<i class="fa fa-heart" aria-hidden="true"></i>
						<span class="sr-only">Love</span>
					</span>
				</h6>
				<link itemprop="url" href="{{baseUrl}}/">
				<a title="Like us on Facebook" href="https://www.facebook.com/completeuniversityinfo/" target="_blank" rel="noopener" itemprop="sameAs">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
					<span class="sr-only">Like us on Facebook</span>
				</a>
				<a title="Follow us on Twitter" href="https://twitter.com/@cUniversityInfo" target="_blank" rel="noopener" itemprop="sameAs">
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
					<span class="sr-only">Follow us on Twitter</span>
				</a>
				<a title="Follow us on Instagram" href="https://www.instagram.com/completeuniversityinfo/" target="_blank" rel="noopener"
				 itemprop="sameAs">
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<span class="sr-only">Follow us on Instagram</span>
				</a>
				<a title="Like us on Google Plus" href="https://plus.google.com/115062262528288982538" target="_blank" rel="noopener" itemprop="sameAs">
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					<span class="sr-only">Like us on Google Plus</span>
				</a>
			</div>

			<div class="copyright">
				<p>&copy; 2018 www.completeuniversityinfo.com</p>
				<div class="fb-page" data-href="https://www.facebook.com/completeuniversityinfo/" data-adapt-container-width="true" data-hide-cover="false"
				 data-show-facepile="false"></div>
			</div>

		</div>
	</footer>

	{{#if data.showShare}}
	<div class="fixed-bottom share" id="socialShare" style="display:none;">
		<div class="container text-center">
			<span class="text-muted">Share</span>
			<a class="fb" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{baseUrl}}{{data.pathName}}"
			 onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" rel="noopener">
				<span class="sr-only">Facebook</span>
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a class="twitter" title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{data.meta.title}}&url={{baseUrl}}{{data.pathName}}"
			 onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" rel="noopener">
				<span class="sr-only">Twitter</span>
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a class="email" title="Share by Email" href="mailto:?subject=I wanted you to see this site&amp;body={{data.meta.title}} {{baseUrl}}{{data.pathName}}.">
				<span class="sr-only">Email</span>
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</a>
			<a class="w-app d-md-none" tittle="Share via Whatsapp" href="whatsapp://send?text={{baseUrl}}{{data.pathName}}" data-action="share/whatsapp/share"
			 rel="noopener">
				<span class="sr-only">Whatsapp</span>
				<i class="fa fa-whatsapp" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	{{/if}}
	<div class="fixed-bottom c-accept" id="privacyAcpt" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc">
		<div class="container text-center" id="cookieconsent:desc">
			We use cookies to personalize content and improve your experience. By using our site, you consent to our
			<a aria-label="learn more about cookies" role="button" tabindex="0" href="/privacy/">terms &amp; cookies</a>.
			<a href="javascript:void(0)" aria-label="dismiss cookie message" id="btnConsent" role="button" tabindex="0" class="btn btn-warning">Got it!</a>
		</div>
	</div>

	{{!-- Google analytics --}} {{>analytics}}
	<script src="/dist/common.bundle.js" async></script> {{!--
	<script src="https://use.fontawesome.com/bc6d7a31fe.js" async></script> --}} {{!-- {{{isAdminEditorJS user}}} --}} 
	{{#if data.showAdvertise }}
  --}}<script type="text/javascript"> var infolinks_pid = 3105061; var infolinks_wsid = 0; </script>
	<script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js" defer></script>
	{{/if}}
</body>

</html>