<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidan kunde inte hittas...</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	{{#ifeq env "production"}}
	<link href="/dist/{{brandSafe}}.styles.css" rel="stylesheet">
	{{/ifeq}}
</head>
<body>
	<div class="container error-page">
		<h1>
			{{#if errorTitle}}
			{{errorTitle}}
			{{else}}
			Kunde inte hitta sidan du letade efter
			{{/if}}
		</h1>
		<p class="error-page-message">
			{{errorMsg}}
		</p>
		<p class="back-link">
			<a href="/">Gå till startsidan</a>
		</p>
	</div>
	{{!-- React scripts --}}
	{{#ifeq env "development"}}
	<script type="text/javascript" src="/js/bundle.js"></script>
	{{else}}
	<script type="text/javascript" src="/dist/{{brandSafe}}.vendors.js"></script>
	<script type="text/javascript" src="/dist/{{brandSafe}}.bundle.js"></script>
	{{/ifeq}}
</body>
</html>
