<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Compete University Info</title>
	<link rel="shortcut icon" href="/images/favicon/icon.ico" type="image/x-icon"> 
	<link rel="preload" href="/dist/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/dist/style.css"></noscript>
	{{>analytics}}
	<script src="/dist/common.bundle.js" async></script> 
</head>

<body class="fonts">
	<header class="fixed-top">
		<div class="container">
			<a href="{{baseUrl}}/">
				<img src="/images/completeuniversityinfo.png" alt="Complete university Info logo" />
			</a>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container">
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#cuiMenu" aria-controls="cuiMenu"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{{!-- https://stackoverflow.com/questions/38994107/drop-down-sub-menus-in-keystonejs --}}
				<div class="navbar-collapse collapse" id="cuiMenu" style="">
					<ul class="navbar-nav mr-auto">
						{{# each navLinks}} {{#if href}}
						<li class="nav-item">
							<a class="nav-link{{#ifeq ../section key}} active{{/ifeq}}" href="{{@root.baseUrl}}{{href }}" title="{{key}}">
								{{ label }} {{#ifeq ../section key}}
								<span class="sr-only">(current)</span>
								{{/ifeq}}
							</a>
						</li>
						{{else}}
						<li class="nav-item dropdown{{#ifeq ../section key}} active{{/ifeq}}">
							<a class="nav-link dropdown-toggle" href="{{@root.baseUrl}}/tests/" id="cuiSubMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ label }}</a>
							<div class="dropdown-menu" aria-labelledby="cuiSubMenu">
								{{#each pages}}
								<a class="dropdown-item{{#ifeq ../subsection subkey}} active{{/ifeq}}" href="{{@root.baseUrl}}{{ href }}">{{ label }}</a>
								{{/each}}
							</div>
						</li>
						{{/if}} {{/each}}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="bg-white mb-0" style="min-height:300px;">
		<div class="container pt-5 text-center">
			<h1 class="text-uppercase text-secondary">500 </h1>
			<h3 class="lead">Internal Server Error</h3>
			<p>Our server isn't feeling too well. 
				<br>Come back later so you don't get sick too.
			</p>
		</div>
	</section>

	<footer>
		<div class="container text-center">

			<div class="ft-links">
				<a href="{{baseUrl}}/aboutus/">About Us</a>
			</div>
			<div class="social-links">
				<h6>Show us some
					<span>
						<i class="fa fa-heart" aria-hidden="true"></i>
						<span class="sr-only">Love</span>
					</span>
				</h6>
				<a title="Like us on Facebook" href="https://www.facebook.com/completeuniversityinfo/" target="_blank" rel="noopener">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
					<span class="sr-only">Like us on Facebook</span>
				</a>
				<a title="Follow us on Twitter" href="https://twitter.com/@cUniversityInfo" target="_blank" rel="noopener">
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
					<span class="sr-only">Follow us on Twitter</span>
				</a>
				<a title="Follow us on Instagram" href="https://www.instagram.com/completeuniversityinfo/" target="_blank" rel="noopener">
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<span class="sr-only">Follow us on Instagram</span>
				</a>
				<a title="Like us on Google Plus" href="https://plus.google.com/115062262528288982538" target="_blank" rel="noopener">
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					<span class="sr-only">Like us on Google Plus</span>
				</a>
			</div>

			<p>&copy; 2018 www.completeuniversityinfo.com</p>

		</div>
	</footer>
</body>
</html>