<section class="container avg-m-top blog">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			{{!--
			<h4>Showing {{ data.posts.results.length}} post.</h4> --}}
			<div class="row no-gutters">
				{{# each data.posts.results}} 
				{{#if @first}}
				<article data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="clearfix">
					<header>
						<h3>
							<a href="{{postUrl slug}}">{{{title}}}</a>
						</h3>
						<p class="lead text-muted">
							<time datetime="{{publishedDate}}">{{publishedDate}}</time>
							{{!-- {{formatDate publishedDate "short"}} --}}
							| {{{categoryList categories prefix="Posted in "}}} {{#if author.name.first}}by {{author.name.first}}{{/if}}
						</p>
					</header>
					{{#if image.version}}
					{{!-- <img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img-fluid" alt="{{title}}"> --}}
					<img src="//res.cloudinary.com/uguide/image/upload/v{{image.version}}/{{image.public_id}}.jpg" alt="{{title}}" class="img-fluid" >
					{{else}}
					<img src="/images/cui-g-plc.jpg" class="img-fluid" alt="{{title}}">
					{{/if}}
					<p>{{{content.brief}}}</p>
				</article>
				{{else}}
				{{!-- other articles --}}
			
					<article data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="col-md-6">
					<div class="wrap">
						<div class="">
							{{#if image.version}}
								<img src="//res.cloudinary.com/uguide/image/upload/v{{image.version}}/{{image.public_id}}.jpg" alt="{{title}}" class="img-fluid" >
							{{else}}
								<img src="/images/cui-g-plc.jpg" class="img-fluid" alt="{{title}}">
							{{/if}}
						</div>
						<header>
							<h3>
								<a href="{{postUrl slug}}">{{{title}}}</a>
							</h3>
							<p class="lead text-muted">
								<time datetime="{{publishedDate}}">{{publishedDate}}</time> | {{#if author.name.first}}by {{author.name.first}} {{{categoryList categories prefix="Posted in "}}} {{/if}}
							</p>
						</header>
						</div>
					</article>
				
				{{/if}} 
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Tagged categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				{{#each data.categories }}
				<a href="{{categoryUrl key}}" class="page-link">
					{{name}} {{#if postCount}}
					<span class="badge badge-light">{{postCount}}</span>
					{{/if}}
				</a>
				{{/each}}

			</div>
		</div>
		{{>paginationblog}}
	</div>
</section>