<div class="container">
	<h1>Blog</h1>
</div>


{{!-- <section>
	
		<article>
			<header>
				<h2>Article title</h2>
				<p>Posted on <time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time> by <a href="#">Writer</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		</article>
		</section> --}}

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Tagged categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>

				{{#each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">
					{{name}}
					{{#if postCount}}
						<span class="badge pull-right">{{postCount}}</span>
					{{/if}}
				</a>
				{{/each}}

			</div>
		</div>
	</div>

	{{>paginationblog}}

</div>
