<section class="container blog">	
	<div class="row">
		<div class="col-xs-12 col-md-8 col-lg-8">
			{{!-- <h4>Showing {{ data.posts.results.length}} post.</h4> --}}
		<div class="padding bg-white pt-5">
			<div class="row no-gutters">
				{{# each data.posts.results}} {{#if @first}} {{!-- data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}"
				--}}
				<article class="post">
					<header>
						<h3>
							<a href="{{@root.baseUrl}}{{postUrl slug}}">{{{title}}}</a>
						</h3>
						<p class="lead text-muted">
							<time datetime="{{publishedDate}}">
								{{date publishedDate format='MMM Do'}}
							</time>
							{{{categoryList categories prefix="| Posted in "}}}
						</p>
					</header>
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail text-center">
								
								{{#if image.version}} 
								{{!--
								<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img-fluid" alt="{{title}}"> --}}
								<img src="//res.cloudinary.com/{{@root.cloudinaryAccount}}/image/upload/v{{image.version}}/{{image.public_id}}.jpg" alt="{{title}}" class="img-fluid" /> 
								{{else}}
								<img src="/images/cui-blog-plc.jpg" class="img-fluid" alt="{{title}}" /> {{/if}}
							</div>
						</div>
						<div class="col-md-8">
							{{{content.brief}}}
						</div>
					</div>
				</article>
				{{else}} {{!-- other articles --}} {{!-- data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" --}}
				<article class="col-md-6">
					<div class="post wrap">
						<div class="thumbnail text-center">
							{{#if image.version}}
							<img src="//res.cloudinary.com/{{cloudinaryAccount}}/image/upload/v{{image.version}}/{{image.public_id}}.jpg" alt="{{title}}" class="img-fluid"> {{else}}
							<img src="/images/cui-blog-plc.jpg" class="img-fluid" alt="{{title}}"> {{/if}}
						</div>
						<header>
							<h3>
								<a href="{{@root.baseUrl}}{{postUrl slug}}">{{{title}}}</a>
							</h3>
							<p class="text-muted">
								<time datetime="{{publishedDate}}">{{date publishedDate format='MMM Do'}}</time>
								{{{categoryList categories prefix="| Posted in "}}}
							</p>
						</header>
					</div>
				</article>

				{{/if}} {{/each}}

			</div>
				
				<div class="padding-tb">
				{{>paginationblog}}
				</div>
				</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-4">
			<div class="padding bg-white pt-5  bs">
			<aside class="categories mb-5">
				<h4>Categories</h4>
				{{#each data.categories }}
				<a href="{{@root.baseUrl}}{{categoryUrl key}}" class="page-link">
					{{name}} {{#if postCount}}
					<span class="badge badge-light">{{postCount}}</span>
					{{/if}}
				</a>
				{{/each}}
			</aside>
			</div>
		</div>

		

	</div>
</section>