<section class="container avg-m-top">
	<h1>Contact Us</h1>
	{{#unless enquirySubmitted}}
		<p>Please use the following form in case you have any queries or noticed error on the page(s).</p>
	{{/unless}}
	<div class="row">
		<div class="col-md-6">
			{{#if enquirySubmitted}}
			<div class="p-3 mb-2 bg-success text-white">
				<h3>Thanks for getting in touch.</h3>
				<p>We'll get back to you at the earliest.</p>
			</div>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full" class="form-control" placeholder="Enter you name" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" placeholder="Enter your email" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="tel" name="phone" placeholder="Enter phone number(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">Choose one</option>
						{{#each enquiryTypes}}
							<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send Message</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</section>