{{!
< default}} <section class="page-home">
	<section class="banner bg-cover">
		<div class="container">
			<div class="w-medium mx-auto">
				<h1>FIND YOUR DREAM UNIVERSITY ABROAD</h1>
				<p class="lead">Study abroad with our
					<strong>free</strong> resources on choosing a university</p>

				<form method="GET" action="/search/" role="search" class="search-form">
					<input type="text" class="form-control form-control-lg" placeholder="Type a university..." name="q">
					<button class="btn btn-lg btn-primary" type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
						<span class="sr-only">Search icon</span>
					</button>
				</form>
			</div>
		</div>
	</section>

	<section class="container study-locations">
		<h2>Where do I study?</h2>
		<p>Top study abroad destinations by students</p>

		<div class="row">
			<div class="col-md-6">
				<div class="wrap">
					<div class="row">
						<div class="col-md-5">
							<a href="/universities/oceania/australia/">
								<div class="thumbnail bg-cover text-hide" style="background-image:url(/images/country/au/australia300x300.jpg);">
									Australia
								</div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="copy">
								<h3>
									<a href="/universities/oceania/australia/">Australia</a>
								</h3>
								<p>Canada is known for its excellent education institutions, multiplicity of top quality education programs in various
									streams and an innovative economy that welcomes international students with open arms. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="wrap">
					<div class="row">
						<div class="col-md-5">
							<a href="/universities/north-america/canada/">
								<div class="thumbnail bg-cover text-hide" style="background-image:url(/images/country/ca/canada300x300.jpg);">
									Canada
								</div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="copy">
								<h3>
									<a href="/universities/north-america/canada/">Canada</a>
								</h3>
								<p>Canada is known for its excellent education institutions, multiplicity of top quality education programs in various
									streams and an innovative economy that welcomes international students with open arms.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="wrap">
					<div class="row">

						<div class="col-md-5">
							<a href="/universities/europe/ireland/">
								<div class="thumbnail bg-cover text-hide" style="background-image:url(/images/country/ie/ireland300x300.jpg);">
									Ireland
								</div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="copy">
								<h3>
									<a href="/universities/oceania/australia/">Ireland</a>
								</h3>
								<p>Degrees and qualifications from UK higher education institutions are known around the world as high quality and world
									class. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="wrap">
					<div class="row">
						<div class="col-md-5">
							<a href="/universities/europe/switzerland/">
								<div class="thumbnail bg-cover text-hide" style="background-image:url(/images/country/ch/switzerland300x300.jpg);">
									Switzerland
								</div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="copy">
								<h3>
									<a href="/universities/europe/switzerland/">Switzerland </a>
								</h3>
								<p> The U.S. is home to some of the most prestigious universities in the world. It has an internationally renowned education
									system, and offers a huge variety of English-language courses and speciality degrees. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="wrap">
					<div class="row">
						<div class="col-md-5">
							<a href="/universities/oceania/new-zealand/">
								<div class="thumbnail bg-cover text-hide" style="background-image:url(/images/country/nz/newzealand300x300.jpg);">
									New Zealand
								</div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="copy">
								<h3>
									<a href="/universities/oceania/new-zealand/">New Zealand </a>
								</h3>
								<p> The U.S. is home to some of the most prestigious universities in the world. It has an internationally renowned education
									system, and offers a huge variety of English-language courses and speciality degrees. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="articles dark-bg no-mb">
		<div class="container">
			<a href="/blog/" class="float-right">All articles</a>
			<h2>Latest Articles</h2>
			<p>Helpful articles and views to make your journey even more simpler</p>
			<div class="row">
				{{#each data.articles}}
				<div class="col-md-4">
					<article>
						<header>
							{{!--
							<p>
								Posted on
								<time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time>
								by
							</p> --}}
							<h3>
								<a href="/blog/post/{{slug}}">{{title}}</a>
							</h3>
						</header>
						<p>{{ meta.description }}</p>
					</article>
				</div>
				{{/each}}
			</div>
		</div>
	</section>

	<section class="levels">
		<div class="container">
			<h2>Which level do I study?</h2>
			<div class="row">
				
				{{#each data.levels}}
				<div class="col-md-6">
					<h3>{{name}} {{!--
						<a href="/{{key}}/"></a> --}}
					</h3>
					{{{description}}}
				</div>
				{{/each}}
			</div>
		</div>
	</section>

	<section class="tests container">
		<h2>Why do I write Tests?</h2>
		<p>Language and admission tests explained</p>
		<div class="row">
			{{#each data.tests }}
			<div class="col-md-4">
				<div class="test-block rounded">
					<h3>
						<a href="/test/{{slug}}">{{name}}</a>
					</h3>
					{{!--
					<img class="card-img-top" src="/images/tests/{{slug}}_logo.jpg" alt="{{title}}"> --}}
					<p>{{ meta.description }}</p>
				</div>
			</div>
			{{/each}}
		</div>
	</section>
	</section>