{{!
< default}} <section class="banner">

	<div class="mid-column">
		<h1>FIND YOUR DREAM UNIVERSITY ABROAD</h1>
		<p>Study abroad with our
			<strong>free</strong> resources on choosing a university</p>

		<form method="GET" action="/search/" role="search">
			<input type="text" class="form-control form-control-lg" placeholder="Type a university" name="q">
			<button class="btn btn-lg btn-primary" type="submit">Discover Universities</button>
		</form>
	</div>

	</section>


	<section class="container study-locations">
		<h2>Where can I study</h2>
		<p>Top study destinations by students</p>
		<div class="row">
			<div class="col-xs-6 col-md-6">
				<a href="/canada/" class="thumbnail">
					<img src="/images/logo.svg" width="200" alt="...">
				</a>
				<h3>
					<a href="/blog/post/{{slug}}"> Canada </a>
				</h3>
				<p>Canada is known for its excellent education institutions, multiplicity of top quality education programs in various streams
					and an innovative economy that welcomes international students with open arms. </p>
			</div>
			<div class="col-xs-6 col-md-6">
				<a href="/germany/" class="thumbnail">
					<img src="/images/logo.svg" width="200" alt="...">
				</a>
				<h3>Germany</h3>
				<p>Germany is an attractive place to study and German university degrees are highly respected by employers worldwide. Discover
					the beauty and diversity Germany has to offer! When you take time off from your studies, there are 1001 ways of finding
					out more about your host country.
				</p>
			</div>
			<div class="col-xs-6 col-md-6">
				<a href="/united-kingdom" class="thumbnail">
					<img src="/images/logo.svg" width="200" alt="...">
				</a>
				<h3>United Kingdom</h3>
				<p>Degrees and qualifications from UK higher education institutions are known around the world as high quality and world
					class. </p>
			</div>
			<div class="col-xs-6 col-md-6">
				<a href="/united-states/" class="thumbnail">
					<img src="/images/logo-email.gif" width="200" alt="...">
				</a>
				<h3> United States </h3>
				<p> The U.S. is home to some of the most prestigious universities in the world. It has an internationally renowned education
					system, and offers a huge variety of English-language courses and speciality degrees. </p>
			</div>
		</div>
	</section>

	<section class="container articles">
		<h2>Latest Articles</h2>
		<p>Helpful articles and discussions to make your journey even more simpler</p>
		<a href="/blog/">More articles</a>
		<div class="row">
			{{#each data.articles}}

			<div class="col-md-4">
				<div class="thumbnail">
					<a href="/blog/post/{{slug}}">
						<img src="/images/cui-g-plc.jpg" alt="{{title}}">
					</a>
					<div class="caption">
						<h3>
							<a href="/blog/post/{{slug}}">{{title}}</a>
						</h3>
						<p>{{ meta.description }}</p>
					</div>
				</div>
			</div>

			{{/each}}
		</div>
	</section>

	<section class="container">
		<h2>Levels</h2>
		<div class="row">
			{{#each data.levels}}
			<div class="col-lg-6">
				<h3><a href="/{{key}}/">{{title}}</a></h3>
				{{{description}}}
			</div>
			{{/each}}
		</div>
	</section>


	<section class="tests container">
		<h2>Why do I write Tests?</h2>
		<p>Language and admission tests explained</p>
		<div class="row">
			{{#each data.tests }}
			<div class="col-lg-3">
				<h3><a href="/test/{{slug}}">{{title}}</a></h3>
				{{!--
				<img src="/images/test/{{slug}}_logo.jpg" class="img-responsive" alt="{{title}}"> --}}
				<p>{{ meta.description }}</p>
			</div>
			{{/each}}
		</div>
	</section>