{{!
< default}} <section class="page-home">
	<section class="banner bg-cover">
		<div class="container">
			<div class="w-medium mx-auto" itemscope itemtype="http://schema.org/WebSite">
				<h1>FIND YOUR DREAM UNIVERSITY ABROAD</h1>
				<h3 class="lead">Study abroad with our
					<strong>free</strong> resources on choosing a university</h3>
				<meta itemprop="url" content="{{baseUrl}}/" />
				<form method="GET" action="{{baseUrl}}/search/" role="search" class="search-form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
					<meta itemprop="target" content="{{baseUrl}}/search/?q={q}" />
					<label>
						<input type="text" class="form-control form-control-lg" placeholder="Type a university..." name="q" required itemprop="query-input"
						 autofocus />
					</label>
					<input class="btn btn-lg btn-primary" type="submit" value="Discover Universities" />
				</form>
			</div>
		</div>
	</section>

	<section class="container study-locations">
		<h2>Where do I study?</h2>
		<p class="lead mb-4">Study abroad destinations</p>
		<div class="row">
			{{# each data.studyIn}}
			<div class="col-md-6">
				<div class="wrap">
					<div class="row">
						<div class="col-md-5">
							<a href="{{@root.baseUrl}}{{studyDestinationtUrl slug}}">
								{{!--
								<div class="thumbnail bg-cover text-hide img-lazy" style="background-image:url(/images/country/{{country.countryCode}}.jpg)">
									--}}
									<div class="thumbnail bg-cover text-hide img-lazy" data-src="/images/country/{{country.countryCode}}.jpg">
										{{ name }}
									</div>
							</a>
							</div>
							<div class="col-md-7">
								<div class="copy">
									<h3>
										<a href="{{@root.baseUrl}}{{studyDestinationtUrl slug}}">{{ name }}</a>
									</h3>
									{{{ brief}}}
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
	</section>

	<section class="articles bg-white no-mb">
		<div class="container">
			<a href="{{baseUrl}}/blog/" class="float-right mt-2">All articles</a>
			<h2>Latest Articles</h2>
			<p class="lead mb-4">Helpful articles to make your study abroad journey even more simpler</p>
			<div class="row">
				{{#each data.articles}}
				<div class="col-md-4">
					<article>
						<a href="{{@root.baseUrl}}{{postUrl slug}}">
							<img data-src="//res.cloudinary.com/{{@root.cloudinaryAccount}}/image/upload/c_scale,w_400/v{{image.version}}/{{image.public_id}}.jpg"
							 class="img-lazy img-fluid" alt="{{title}}" title="{{title}}">
						</a>
						<header>
							<h3>
								<a href="{{@root.baseUrl}}{{postUrl slug}}">{{title}}</a>
							</h3>
						</header>
						<p>{{ meta.description }}</p>
					</article>
				</div>
				{{/each}}
			</div>
		</div>
	</section>

	<section class="levels">
		<div class="container">
			<h2>Types of Degrees</h2>
			<p class="lead mb-4">List of Degrees Overview</p>
			<div class="row">
				{{#each data.levels}}
				<div class="col-md-6">
					<h3>{{name}}</h3>
					{{{description}}}
				</div>
				{{/each}}
			</div>
		</div>
	</section>

	<section class="tests container">
		<h2>Standardized Tests</h2>
		<p class="lead mb-4">Language and admission tests explained</p>
		<div class="row">
			{{#each data.tests }}
			<div class="col-md-4">
				<div class="test-block rounded bg-white">
					<a href="{{@root.baseUrl}}{{testUrl slug}}" title="{{meta.title}}">
						<img class="card-img-top img-lazy" data-src="/images/tests/{{lowercase name }}_logo.jpg" alt="{{name}}">
					</a>
					<p>{{ meta.description }}</p>
				</div>
			</div>
			{{/each}}
		</div>
	</section>
	</section>