<section class="search-filter height-5 bg-cover mb-0" style="background-image:url(/images/country/{{data.destination.country.countryCode}}_banner.jpg)">
  {{!--
  <div class="container">
    <div class="padding-tb search-intro">
      <div>
        {{#if data.destination.image.version}}
        <img src="//res.cloudinary.com/{{cloudinaryAccount}}/image/upload/v{{data.destination.image.version}}/{{data.destination.image.public_id}}.jpg"
          alt="{{data.destination}}" class="img-fluid" /> {{else}}
        <img src="/images/country/{{data.destination.country.countryCode}}_banner.jpg" class="img-fluid" /> {{/if}}
      </div>
    </div>
  </div>--}}
</section>

<section class="tu-heading content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8">

        <section class="padding bs bg-white m-top-m mb-0">
          <h1>{{ data.destination.name }}</h1>
          <div class="lead">{{{ data.destination.brief }}}</div>



          {{{ data.destination.about }}}

          <hr>{{!--
          <Education system --}} {{{ data.destination.education }}} {{!-- Study Options --}} {{{ data.destination.options }}} {{!--
            Cost of study &amp; living --}} {{{ data.destination.cost }}} <hr> {{!-- Visa Requirements --}} {{{ data.destination.visa }}} {{!-- Available Scholarships --}} {{{ data.destination.scholarships
            }}} {{!-- Miscellaneous> --}}
            <hr> {{{ data.destination.misc }}} 
            
            
            {{!-- Other Universities in COUNTRY --}} 
            {{#if data.destination.country}}
            <section>
              <h3>Universities in {{data.destination.country.name}}</h3>
              <div class="text-uppercase">
                <a href="{{baseUrl}}/universities/{{data.destination.country.region.key}}/{{data.destination.country.key}}/" class="btn btn-primary">
                  <strong>Universities in {{data.destination.country.name}}</strong>
                </a>
              </div>
            </section>
            {{/if}} 


      </div>


      <div class="col-xs-12 col-md-4 col-lg-4">
        <aside class="m-top-m bs text-secondary padding">
          <h4>{{data.destination.country.name}} Facts &amp; Figures</h4>
          <ul class="list-group">
            {{# each data.destination.facts}}
            <li class="list-group-item">{{ this }}</li>
            {{/each}}
          </ul>
        </aside>
      </div>

    </div>
  </div>
  </section>