<section class="search-filter">
  <div class="container">
    <div class="padding-tb search-intro">
      <h1>Study abroad destinations</h1>
      <div class="col-xs-12 col-md-10 col-lg-8">
        <p class="lead">
          There are so many destinations to choose from when choosing where you want to study, that it can often be overwhelming. However,
          deciding on which country to study comes first.
        </p>
        <p>This section covers the information about your potential study abroad destinations. Learn about the requirements,
          costs, visa, education system, study options etc. </p>
      </div>
    </div>
  </div>
</section>

<section class="study-locations">
  <div class="container">
    <div class="row">
      {{# each data.studyIn.results}}
      <div class="col-md-6">
        <div class="wrap">
          <div class="row">
            <div class="col-md-5">
              <a href="{{@root.baseUrl}}{{studyDestinationtUrl slug}}">
                <div class="thumbnail bg-cover text-hide img-lazy" style="background-image:url(/images/country/{{country.countryCode}}.jpg)">
                  {{ title }}
                </div>
              </a>
            </div>
            <div class="col-md-7">
              <div class="copy">
                <h3>
                  <a href="{{@root.baseUrl}}{{studyDestinationtUrl slug}}">{{ name }}</a>
                </h3>
                {{{ brief}}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>


  </div>
</section>

{{!-- <section>
  <div class="container">
    <div class="padding bg-white bs text-center">
      <h4>Check out the univesities all over</h4>
      <a href="{{baseUrl}}/universities/" class="btn btn-primary">
        Universities
      </a>
    </div>
  </div>
</section> --}}