<section class="search-filter">
  <div class="container">
    <div class="padding-tb search-intro">
      <h1>Study abroad destinations</h1>
      <p class="lead">
        There are so many destinations to choose from when choosing where you want to study abroad 
        that it can often overwhelming. However, deciding on which country to study comes first. We got you covered:
        </p>
    </div>
  </div>
</section>

<section class="study-locations">
  <div class="container">
    <div class="row">
      {{# each data.studyIn.results}}
      <div class="col-md-6">
        <div class="wrap">
          <div class="row">
            <div class="col-md-5">
              <a href="{{studyDestinationtUrl slug}}">
                <div class="thumbnail bg-cover text-hide img-lazy" style="background-image:url(/images/country/{{country.countryCode}}.jpg)">
                  {{ title }}
                </div>
              </a>
            </div>
            <div class="col-md-7">
              <div class="copy">
                <h3>
                  <a href="{{studyDestinationtUrl slug}}">{{ name }}</a>
                </h3>
                {{{ brief}}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>