<section class="search-filter height-5 bg-cover" style="background-image:url(/images/country/{{data.destination.country.countryCode}}_banner.jpg)">
  <div class="container">
    <div class="padding-tb search-intro">
      

      {{!-- <div>
        {{#if data.destination.image.version}}
        <img src="//res.cloudinary.com/uguide/image/upload/v{{data.destination.image.version}}/{{data.destination.image.public_id}}.jpg"
          alt="{{data.destination}}" class="img-fluid" /> {{else}}
        <img src="/images/country/{{data.destination.country.countryCode}}_banner.jpg" class="img-fluid" /> {{/if}}
      </div> --}}

    </div>
  </div>
</section>

<section class="study-locations">
  <div class="container">
    <div class="row">

<h1>{{ data.destination.name }}</h1>
      <p class="lead">{{{ data.destination.brief }}}</p>

      <div>
        {{!-- <h2>About destination</h2> --}}
        {{{ data.destination.about }}}
      </div>

      <div>
        {{!-- <h2>Education system</h2> --}}
        {{{ data.destination.education }}}
      </div>

      <div>
        {{!-- <h2>Study Options</h2> --}}
        {{{ data.destination.options }}}
      </div>

      <div>
        {{!-- <h2>Cost of study &amp; living</h2> --}}
        {{{ data.destination.cost }}}
      </div>

      <div>
        {{!-- <h2>Visa Requirements</h2> --}}
        {{{ data.destination.visa }}}
      </div>

      <div>
        {{!-- <h2>Available Scholarships</h2> --}}
        {{{ data.destination.scholarships }}}
      </div>

      <div>
        {{!-- <h2>Miscellaneous</h2> --}}
        {{{ data.destination.misc }}}
      </div>

      <div>
        <h2>fast facts</h2>
        <ul>
        {{# each data.destination.facts}}
        <li>{{ this }}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>