<section class="x-results">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="bg-white filter h-100">
          <div class="item">

            {{#if data.hideBanner}}
            <h1>Universities</h1>
            <p>Compare universities around the world and choose universities of your choice from the results or find by country.</p>
            {{/if}}

            <h4 class="text-uppercase">
              <strong>Search</strong>
            </h4>
            <form method="GET" action="{{baseUrl}}/search/" role="search" class="search-form inner">
              <label for="searchForm">
                <input id="searchForm" type="text" class="form-control form-control" placeholder="Type a university..." name="q" autofocus>
              </label>
              <button class="btn btn-primary" type="submit" title="Search universities">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="sr-only">Search Universities</span>
              </button>
            </form>
          </div>

          <div class="item">
            <ul class="list-unstyled list-group">
              <li class="list-group-item bg-light text-uppercase">
                <h4 class="mb-0">
                  <strong>Country</strong>
                </h4>
              </li>
              {{# each data.countries }} {{#if show}}
              <li class="list-group-item">
                <a href="{{@root.baseUrl}}{{categoryCountryUrl region.key key}}" title="{{name}}">{{name}}</a>
              </li>{{/if}} {{/each}}
            </ul>
          </div>

        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        {{!--
        <h4>Total {{ data.universities.total}} Universities</h4> --}}
        <ul id="universities" class="list-unstyled">
          {{#each data.universities.results}}
          <li class="wrapper list row">
            <div class="col-3">
              <div class="logo text-center">
                <a href="{{@root.baseUrl}}{{ universityUrl region.key country.key state.key city.key slug }}" title="{{name}}">
                  {{#if logo.version}}
                  <img data-src="//res.cloudinary.com/{{@root.cloudinaryAccount}}/image/upload/v{{logo.version}}/{{logo.public_id}}.jpg" alt="{{name}} logo"
                    title="{{name}}" class="img-fluid img-lazy" /> {{else}}
                  <img data-src="/images/university_placeholder.png" class="img-fluid img-lazy" alt="{{name}}" title="{{name}}" /> {{/if}}
                </a>
              </div>
            </div>
            <div class="col-9">
              <h3>
                <a href="{{@root.baseUrl}}{{ universityUrl region.key country.key state.key city.key slug }}" title="{{name}}">{{name}}</a>
              </h3>
              {{#if address}}
              <address>
                <i class="fa fa-map-marker" aria-hidden="true"></i>{{address}}</address>
              {{/if}} {{#if outStudents}}
              <p class="feature">International students: {{outStudents}}</p>
              {{/if}} {{#or the qs arwu forbes macleans cug }}
              <div class="rankings">
                <hr>
                <p>
                  <i class="fa fa-trophy" aria-hidden="true"></i>
                  <b>University Ranking</b>
                </p>
                <div class="row">
                  {{#if the}}
                  <div class="col-6" title="Times World University (THE) Ranking">THE:
                    <strong>{{the}}</strong>
                  </div>
                  {{/if}} {{#if qs}}
                  <div class="col-6" title="QS World Univesity Ranking">QS:
                    <strong>{{qs}}</strong>
                  </div>
                  {{/if}} {{#if arwu}}
                  <div class="col-6" title="Academic Ranking of World Universities (ARWU) Ranking">ARWU:
                    <strong>{{arwu}}</strong>
                  </div>
                  {{/if}} {{#if forbes}}
                  <div class="col-6" title="Forbes Ranking">Forbes:
                    <strong>{{forbes}}</strong>
                  </div>
                  {{/if}} {{#if macleans}}
                  <div class="col-6" title="Maclean's Ranking">Maclean's:
                    <strong>{{macleans}}</strong>
                  </div>
                  {{/if}} {{#if cug}}
                  <div class="col-6" title="The Complete University Guide Ranking">The Complete University Guide:
                    <strong>{{cug}}</strong>
                  </div>
                  {{/if}} {{!-- {{#if ft}}
                  <div class="col-6">Financial Timess (MBA):
                    <strong>{{ft}}</strong>
                  </div>
                  {{/if}} {{#if theEconomist}}
                  <div class="col-6">The Economist (MBA):
                    <strong>{{theEconomist}}</strong>
                  </div>
                  {{/if}} {{#if usNewsNational}}
                  <div class="col-6">US News National University:
                    <strong>{{usNewsNational}}</strong>
                  </div>
                  {{/if}} {{#if usNewsLiberal}}
                  <div class="col-6">US News National Liberal Arts Colleges:
                    <strong>{{usNewsLiberal}}</strong>
                  </div>
                  {{/if}} --}}

                </div>
              </div>
              {{/or }}

            </div>
            <div class="col-12 brief">
              {{{brief}}}
            </div>

          </li>
          {{/each}}
        </ul>

        {{#ifCond data.universities.total ">" 10}}
        <div class="pagi-block">
          {{>paginationuniversities}}
        </div>
        {{/ifCond}}
      </div>

    </div>
  </div>
</section>