<section class="search-banner no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="uni-logo">

          {{#if data.university.logo.version}}
          <img src="//res.cloudinary.com/uguide/image/upload/v{{data.university.logo.version}}/{{data.university.logo.public_id}}.jpg"
            alt="{{data.university.name}} logo" class="img-fluid" /> {{else}}
          <img src="/images/university_placeholder.png" class="img-fluid" /> {{/if}}

        </div>
      </div>
      <div class="col-md-9">
        <div class=" padding-tb">
          <h1>{{data.university.name}}</h1>
          {{data.university.address}} | 

          {{#each data.university.phone}}
              <p>{{ this }} </p>
              {{/each}}

              

          | {{data.university.acronym}}
          {{{data.university.brief }}} 
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uni-profile">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>TUITION</h3>
              <p>BDtuitionIn: {{data.university.BDtuitionIn }} </p>
              <p>BDtuitionOut: {{data.university.BDtuitionOut }} </p>
              <p>MDtuitionIn: {{data.university.MDtuitionIn }} </p>
              <p>MDtuitionOut: {{data.university.MDtuitionOut }} </p>

              <div class="well" style="margin-bottom:40px;">
              <h3>RANKINGS</h3>
              <p>timesWorldUniversity: {{ data.university.the }} </p>
              <p>qs: {{data.university.qs }} </p>
              <p>arwu: {{data.university.arwu }} </p>
              <p>forbes: {{data.university.forbes }} </p>
              <p>macleans: {{data.university.macleans }} </p>
              <p>completeUniversityGuide: {{data.university.cug }} </p>
              <p>financialTimes: {{data.university.ft }} </p>
              <p>theEconomist: {{data.university.theEconomist }} </p>
              <p>usNewsNational: {{data.university.usNewsNational }} </p>
              <p>usNewsLiberal: {{data.university.usNewsLiberal }} </p>
            </div>
        <ul>
          <li></li>
        </ul>

        {{{data.university.extended}}}

        <h2>FACTS &amp; BADGES</h2>
        <p>avgTuition: {{data.university.avgTuition }} </p>
              <p>totalCost: {{data.university.totalCost }} </p>
              <p>acceptanceRate: {{data.university.acceptanceRate }} </p>
              <p>studentFacultyRatio: {{data.university.studentFacultyRatio }} </p>
              <p>roomAndBoard: {{data.university.roomAndBoard }} </p>
              <p>financialAid: {{data.university.financialAid }} </p>
              <p>studentClubs: {{data.university.studentClubs }} </p>
              <p>graduateEmployment(Graduate Employment Rate:eg-80% ): {{data.university.graduateEmployment }} </p>
              <p>femaleMaleRatio: {{data.university.femaleMaleRatio }} </p>
              <p>scholarships: </p>
              <p>outStudents(Internation Students:eg-12.5% ): {{data.university.outStudents }} </p>
              <p>BDstudents(Bachelors degress Students): {{data.university.BDstudents }} </p>
              <p>MDstudents(Masters degress Students): {{data.university.MDstudents }} </p>
              <p>yearLevel: {{data.university.yearLevel }} </p>
        <ul>
          <li></li>
        </ul>

        <h3>Subjects taught at {{data.university.name}}</h3>
        <h5>Total bachelor degree programs</h5>
        {{data.university.BDprogramsCount }}
        <h5>Total masters degree programs</h5>
        {{data.university.MDprogramsCount }}
        {{{data.university.programs}}}


              <h3>SIZE AND PROFILE</h3>
              <p>students: {{data.university.students }} </p>
              <p>academicCalendar(eg-Semesters): {{data.university.academicCalendar }} </p>
              <p>staff: {{data.university.staff }} </p>
              <p>campusSetting: {{data.university.campusSetting }} </p>
              <p>controlType: {{data.university.controlType }} </p>
              <p>religiousAffiliation: {{data.university.religiousAffiliation }} </p>
              <p>entityType: {{data.university.entityType }} </p>
              <p>eveningDegreeProgram: {{#if data.university.eveningDegreeProgram }} available {{else}} not available {{/if}}</p>


        <h3>Scholarships</h3>
        {{{data.university.scholarships }}}

        <div class="well" style="margin-bottom:40px;">
              <h3>LANGUAGE &amp; ACADEMIC TEST SCORE</h3>
              <p>gmatRange: {{data.university.gmatRange }} </p>
              <p>greRange: {{data.university.greRange }} </p>
              <p>satRange: {{data.university.satRange }} </p>
              <p>actRange: {{data.university.actRange }} </p>
              <p>toeflRange: {{data.university.toeflRange }} </p>
              <p>ieltsRange: {{data.university.ieltsRange }} </p>
              <p>gpaRange: {{data.university.gpaRange }} </p>
            </div>

            <div class="well" style="margin-bottom:40px;">
              <p>{{data.university.website }}</p>
              <h3>SOCIAL MEDIA</h3>
              <p>{{data.university.facebook }} </p>
              <p>{{data.university.twitter }} </p>
              <p>{{data.university.google }} </p>
              <p>{{data.university.linkedin }} </p>
              <p>{{data.university.instagram }} </p>
              <p>{{data.university.youtube }} </p>
              <p>{{data.university.vimeo }} </p>
            </div>

      </div>

      <div class="col-md-4">
        <p>applicationDeadline: {{data.university.januaryDeadline }} , may, september</p>

        <p>founded</p> {{data.university.founded}}
        <p>motto</p> {{data.university.motto}}
        <p>other locations</p>{{data.university.locations }}
         <p>application Fee:  </p>{{data.university.appFee }}

        <div class="block">
          <h3>ACCREDITATION AND RECOGNITION</h3>
          <ul>
            {{#each data.university.accreditations}}
            <li>
              {{ this }}
            </li>
            {{/each}}
          </ul>
        </div>


        <div class="block">
          <h3>AFFILIATIONS AND MEMBERSHIPS</h3>
          <ul>
            {{#each data.university.affiliations }}
            <li>
              {{ this }}
            </li>
            {{/each}}
          </ul>
        </div>

        <div class="well block" style="margin-bottom:40px;">
          <h3>FACILITIES AND SERVICES</h3>
          <p>library: {{data.university.library }} </p>
          <p>housing: {{data.university.housing }} </p>
          <p>sportFacilities: {{data.university.sportFacilities }} </p>
          <p>distanceLearning: {{data.university.distanceLearning }} </p>
        </div>

        <div class="block">
          <h3>admissions</h3>
          <p>{{data.university.admissionOffice }} </p>
          <p>{{data.university.admissionRate }} </p>
        </div>
      </div>
    </div>
  </div>

</section>

