<section class="search-banner bg-cui no-mb">
  <div class="cover-50 bg-cover"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="padding-tb search-intro">
          <h1>Universities</h1>
          Education is too important to leave to chance, compare universities around the world 
          and choose universities of your choice from the results below or find by location.
        </div>
      </div>
    </div>
  </div>
  <div class="search-filter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="padding-tb">
            <p>
              {{# each data.countries }} 
              {{#if show}}
              <a href="{{categoryCountryUrl region.key key}}" class="badge badge-secondary" title="{{name}}">{{name}}</a>
              {{/if}}
              {{/each}}
            </p>

            <form method="GET" action="/search/" role="search" class="search-form inner">
              <label><input type="text" class="form-control form-control" placeholder="Type an university..." name="q"></label>
              <button class="btn btn-primary" type="submit" title="Search universities">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="sr-only">Search Universities</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uni-results no-mb">
  <div class="container">
    <h4>Total {{ data.universities.total}} Universities</h4>
    <ul id="universities" class="list-unstyled row no-gutters">
      {{#each data.universities.results}}
      <li class="col-md-4">
        <div class="wrapper">
          <div class="logo mx-auto">
            <a href="{{ universityUrl region.key country.key state.key city.key slug }}" title="{{name}}">
            {{#if logo.version}}
            <img src="//res.cloudinary.com/{{cloudinaryAccount}}/image/upload/v{{logo.version}}/{{logo.public_id}}.jpg" alt="{{name}} logo" class="img-fluid" />
             {{else}}
            <img src="/images/university_placeholder.png" class="img-fluid" /> {{/if}}
            </a>
          </div>
          <h3>
            <a href="{{ universityUrl region.key country.key state.key city.key slug }}" title="{{name}}">{{name}}</a>
          </h3>
          {{#if address}}
          <address>
            <i class="fa fa-map-marker" aria-hidden="true"></i>{{address}}</address>
          {{/if}} {{#if outStudents}}
          <p class="feature">International students: {{outStudents}}</p>
          {{/if}}
           {{#ifCond qs '||' the }}

          <div class="rankings">
            <hr>
            <p>
              <i class="fa fa-trophy" aria-hidden="true"></i>
              University Ranking
            </p>
            <div class="row">
              {{#if qs}}
              <div class="col-6">QS:
                <strong>{{qs}}</strong>
              </div>
              {{/if}} {{#if the}}
              <div class="col-6">THE:
                <strong>{{the}}</strong>
              </div>
              {{/if}} {{#if arwu}}
              <div class="col-6">ARWU:
                <strong>{{arwu}}</strong>
              </div>
              {{/if}} {{#if forbes}}
              <div class="col-6">Forbes:
                <strong>{{forbes}}</strong>
              </div>
              {{/if}} {{#if macleans}}
              <div class="col-6">Macleans:
                <strong>{{macleans}}</strong>
              </div>
              {{/if}} {{#if cug}}
              <div class="col-6">Complete University Guide:
                <strong>{{cug}}</strong>
              </div>
              {{/if}}
            </div>
          </div>
          {{/ifCond }}


        </div>
      </li>
      {{/each}}
    </ul>

    <div class="pagi-block">
      {{>paginationuniversities}}
    </div>
  </div>
</section>
