<div class="container">
  <h1>Universities By country</h1>
  <h4 class="text-weight-normal">Total {{ data.universitiescountry.total}} Universities.</h4>
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <div class="row">
         {{!-- {{data.universities.results}}  --}}
        {{# each data.universitiescountry.results}}
        <div class="col-md-4 col-lg-4">
          {{!-- <h1>{{universityUrl}}/{{filters.category}}/{{ slug }}</h1> --}}
          {{#if image}}
            <img src="{{{cloudinaryUrl image width=160 height=160 crop=" fit "}}}" class="img-responsive"> 
          {{else}}
            <img src="/images/university_placeholder.png" class="img-responsive" width="100" style="border:1px solid #ccc;">
          {{/if}}
          <h2><a href="{{ universityUrl country.key slug }}">{{name}}</a></h2>
          <h3>{{country.key}}</h3>
        </div>
        {{/each}}
      </div>
    </div>

  </div>

  {{>paginationuniversitybycountry}}

</div>