<section class="search-filter no-mb">
  <div class="container padding-tb">
    <div class="w-medium mx-auto">
      <h1>Universities in {{data.category.name}}</h1>
      <form method="GET" action="{{baseUrl}}/search/" role="search" class="search-form inner">
        <label>
          <input type="text" class="form-control form-control" placeholder="Type a university..." name="q" autofocus>
        </label>
        <button class="btn btn-primary" type="submit" title="Search universities">
          <i class="fa fa-search" aria-hidden="true"></i>
          <span class="sr-only">Search Universities</span>
        </button>
      </form>
    </div>
  </div>
</section>

<section class="uni-results no-mb">
  <div class="container">

    {{!--
    <nav aria-label="breadcrumb" style="display:none;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/universities/">Universities</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav> --}}

    {{!-- <h4>Total {{ data.universitiesdestination.total}} Universities</h4> --}}
    <ul id="universities" class="list-unstyled row no-gutters">
      {{#each data.universitiesdestination.results}}
      <li class="col-md-4">
        <div class="wrapper">
          <div class="logo mx-auto">
            <a href="{{@root.baseUrl}}{{ universityUrl region.key country.key state.key city.key slug }}" title="{{name}}">
              {{#if logo.version}}
              <img src="//res.cloudinary.com/{{@root.cloudinaryAccount}}/image/upload/v{{logo.version}}/{{logo.public_id}}.jpg" 
              alt="{{name}} logo" title="{{name}} logo" class="img-fluid" /> {{else}}
              <img src="/images/university_placeholder.png" class="img-fluid" alt="{{name}} logo" title="{{name}} logo" /> {{/if}}
            </a>
          </div>
          <h3>
            <a href="{{@root.baseUrl}}{{ universityUrl region.key country.key state.key city.key slug }}" title="{{name}}">{{name}}</a>
          </h3>
          {{#if address}}
          <address>
            <i class="fa fa-map-marker" aria-hidden="true"></i>{{address}}</address>
          {{/if}} {{#if outStudents}}
          <p class="feature">International students: {{outStudents}}</p>
          {{/if}} 
          {{#or the qs arwu forbes macleans cug }}
          <div class="rankings">
            <hr>
            <p>
              <i class="fa fa-trophy" aria-hidden="true"></i>
              University Ranking
            </p>
            <div class="row">
              {{#if the}}
              <div class="col-6" title="Times World University (THE) Ranking">THE:
                <strong>{{the}}</strong>
              </div>
              {{/if}}{{#if qs}}
              <div class="col-6" title="QS World Univesity Ranking">QS:
                <strong>{{qs}}</strong>
              </div>
              {{/if}}  {{#if arwu}}
              <div class="col-6" title="Academic Ranking of World Universities (ARWU) Ranking">ARWU:
                <strong>{{arwu}}</strong>
              </div>
              {{/if}} {{#if forbes}}
              <div class="col-6" title="Forbes Ranking">Forbes:
                <strong>{{forbes}}</strong>
              </div>
              {{/if}} {{#if macleans}}
              <div class="col-6" title="Maclean's Ranking">Maclean's:
                <strong>{{macleans}}</strong>
              </div>
              {{/if}} {{#if cug}}
              <div class="col-6" title="The Complete University Guide Ranking">Complete University Guide:
                <strong>{{cug}}</strong>
              </div>
              {{/if}}
            </div>
          </div>
          {{/or }}
        </div>
      </li>
      {{/each}}
    </ul>

    {{!--
    <div class="row">
      {{# each data.universitiesdestination.results}} {{#if image}}
      <img src="{{{cloudinaryUrl image width=160 height=160 crop=" fit "}}}" class="img-responsive"> {{else}}
      <img src="/images/university_placeholder.png" class="img-responsive" width="100" style="border:1px solid #ccc;"> {{/if}} {{/each}}
    </div> --}} 
    {{#ifCond data.universitiesdestination.total ">" 10}}
    <div class="pagi-block">
      {{>paginationuniversitybydestination}}
    </div>
    {{/ifCond}}
  </div>

</section>